RewriteEngine On


RewriteRule ^usuarios$ index.php?seccion=usuarios [L]

RewriteRule ^usuarios/([a-z]+)/([0-9]+)$ index.php?seccion=usuarios&oper=$1&id=$2 [L]


RewriteRule ^usuarios/list/([0-9]+)  ?seccion=usuarios&oper=list&pagina=$1 [L]


