RewriteEngine On


RewriteRule ^([a-z]+)/$ ?seccion=$1 [L,QSA]
RewriteRule ^([a-z]+)/([0-9]+)$ ?seccion=$1&oper=list&pagina=$2& [L,QSA]
RewriteRule ^([a-z]+)/([a-z]+)(?:/([0-9]+))?$ ?seccion=$1&oper=$2&id=$3 [L,QSA]